<h1>All posts:</h1>

<% if current_user.present? %>
  <%= link_to 'New post', new_post_path, class: 'btn btn-primary btn-lg mb-3' %>
<% end %>

<%= render @posts %>


<%== pagy_bootstrap_nav(@pagy) %>