body {
  margin: 0 auto;   /* Центрируем контент по горизонтали */
  padding: 0 15px;  /* Отступы по бокам, если нужно */
  background-color: #DCDCDC;
}

.container-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  color: #333333;
  text-align: center;
  padding: 10px;
}

.center-column {
  background-color: #DCDCDC;
}

.other-column {
  background-color: #E6E6FA;
}

.user-avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.user-avatar-post {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.user-avatar-comment {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-left-button {
  display: flex;
  gap: 10px;
}

.post-right-button {
  margin-left: auto;
}

.custom-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  padding: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.custom-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Более заметная тень при наведении */
}

.custom-user-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  padding: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.custom-user-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Более заметная тень при наведении */
}

.custom-comment {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  padding: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.custom-comment:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Более заметная тень при наведении */
}

.custom-card-left {
  border: 2px solid #888888;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  padding: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.user-link {
  color: #121212; /* Замените на любой цвет, который хотите */
  text-decoration: none;
}

.user-link:hover {
  color: #4f4f4f; /* Цвет при наведении курсора */
  border-bottom: 1px solid #ddd;
}

.navbar-full-width {
  width: 100%;
}

.navbar {
  border-bottom: 1px solid #ddd; /* Добавь или измени стиль */
}

.navbar-nav a:hover {
  text-decoration: underline; /* Подчеркивание текста при наведении */
}

.container-fluid {
  max-width: 950px;
  padding-left: 15px;  /* Убираем лишний отступ, если он есть */
  padding-right: 15px; /* Убираем лишний отступ, если он есть */
}

.main-content {
  width: 100%;
  max-width: 850px; /* Ограничение максимальной ширины */
  margin: 0 auto;    /* Центрирование */
  padding: 0 15px;   /* Отступы */
}
